name: Run Dagger Pipeline

on:
  workflow_dispatch:
  push:
    branches:
      - dagger

jobs:
  train:
    name: Train model with Dagger
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.4'
          cache: false

      - name: Install Dagger CLI
        run: |
          curl -fsSL https://dl.dagger.io/dagger/install.sh | sh
          sudo mv ./bin/dagger /usr/local/bin/dagger
          dagger version

      - name: Run training pipeline
        run: dagger run go run ./pipeline.go

      - name: Upload Trained Model Artifact
        uses: actions/upload-artifact@v4
        with:
          name: model
          path: artifacts/model.pkl

      - name: Upload MLflow runs
        if: ${{ hashFiles('mlruns/**') != '' }}
        uses: actions/upload-artifact@v4
        with:
          name: mlruns
          path: mlruns

  test:
    name: Validate trained model
    needs: train
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Run Model Inference Test Action
        uses: lasselundstenjensen/itu-sdse-project-model-validator@main

